.idea
*.iml

target/
java-gizwits-common/target/
java-gizwits-core/target/
java-gizwits-jdk/target/
java-gizwits-test/target/
java-gizwits-annotation/target/
java-gizwits-process/target/
java-gizwits-aptSample/target/



